@model Ticaret.Data.ViewModels.AddProductViewModel
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form asp-action="AddProduct" asp-controller="Product" asp-area="Admin" method="post" class="w-75 mx-auto p-3" enctype="multipart/form-data">

        <div class="form-group">
            <label>Product Name:</label>
            <input asp-for="ProductName" type="text" placeholder="Product Name" class="form-control" />
            <span asp-validation-for="ProductName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Category Id:</label>
            <input asp-for="CategoryId" type="text" placeholder="CategoryId " class="form-control" />
          
        </div>

        <div class="form-group">
            <label>Price:</label>
            <input asp-for="Price" type="text" placeholder="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Pic Of Product:</label>
            <input asp-for="FilePic" type="file" class="form-control-file" />
        </div>

        <div class="form-group">

            <button type="submit" class=" btn btn-primary">Save</button>
        </div>



    </form>

</body>
</html>
