@model Ticaret.Data.ViewModels.ForgetPasswordViewModel
<html>
<head>
    <title></title>
</head>
<body>
    <form action="ForgetPassword" controller="Home" method="post">

        <div class="form-group container mt-4">
            <label>Email:</label>
            <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group container">
            <button type="submit" class="btn btn-block btn-info">Mail Gönder</button>
        </div>

    </form>

</body>
</html>