<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="row mt-2">

        <div class="col-md-3">
            @await Component.InvokeAsync("CategoryList")
        </div>
        <div class="col-md-9">
            @await Component.InvokeAsync("ProductList", new { categoryId = ViewBag.CategoryId })
        </div>

    </div>

</body>
</html>